
        body {
            background-color: #000000;
            color: #ffffff;
        }

        .navbar {
            background-color: #000000;
        }

        .section {
            padding: 100px 0;
        }

        .section-black {
            background-color: #000000;
        }

        .section-white {
            background-color: #ffffff;
        }

        .section-yellow {
            background-color: #f39c12;
            color: #000000;
        }

        /* Personaliza el resto de los estilos según tus preferencias */
        .section {
            position: relative;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
        } 