
        body {
            background-color: #000000;
            color: #ffffff;
        }

        .navbar {
            background-color: #000000;
        }

        .section {
            padding: 100px 0;
        }

        .section-black {
            background-color: #000000;
        }

        .section-white {
            background-color: #ffffff;
        }

        .section-yellow {
            background-color: #f39c12;
            color: #000000;
        }

        /* Personaliza el resto de los estilos según tus preferencias */
        .section {
            position: relative;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
        } 

        .section-box-shadow {
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        }
        
        .whatsapp-icon {
            position: fixed;
            bottom: 20px; /* Puedes ajustar la posición según tus necesidades */
            right: 20px; /* Puedes ajustar la posición según tus necesidades */
            width: 60px;
            height: 60px;
            background-color: #25D366; /* Color de fondo de WhatsApp */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff; /* Color del icono */
            font-size: 24px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        
        /* Cambiar el color de fondo al pasar el ratón por encima */
        .whatsapp-icon:hover {
            background-color: #128C7E; /* Cambiar a un color más oscuro al pasar el ratón por encima */
        }
        .container {
            margin-top: 50px;
          }
      
          .col-md-4:hover {
            background-color: #7a6969; /* Cambia el color al pasar el mouse */
            transition: background-color 0.3s ease; /* Agrega una transición suave */
          }
      
          .col-12 {
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
          }
          .section-black {
            background-color: #000;
            color: #fff;
            padding: 50px 0;
          }
      
          .section-black img {
            max-width: 100%;
            display: block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
      
          .section-black img:hover {
            transform: translateY(-5px); /* Levanta la imagen */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Agrega un box shadow */
          }
         
          .col-md-5 {
            padding: 10px;
            border: 10px;
            margin: 10px
          }
         
      
          